ul{
    padding: 0;
}
input{
    outline: none;
}
textarea{
    outline: none;
    resize: none;
}
.main{
    display: flex;
    flex-direction: row;
}
.post_and_recommand{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 204px;
}
.story_and_post{
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}
.storys{
    display: flex;
    flex-grow: 1;
    border: 1px #DBDBDB solid;
    border-radius: 7px;
    margin-top: 1.7rem;
    width: 23.6rem;
}
.story_list_outer{
    display: flex;
    flex-grow: 1;
}
.story_list{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

@media (max-width: 775px){
    .side_bar{
        display: none;
    }
    .frd_recommand{
        display: none;
    }
    .post_and_recommand{        
        margin-left: 0px;
        justify-content: center;
    }
    .story_and_post{
        margin-right: 0;
    }
}
@media (max-width: 1265px) and (min-width:776px){
    .post_and_recommand{
        margin-left: 103px;
    }
}