.input_outer{
    margin-bottom: 0.3rem;
}
.sign_up_body{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: cente;
}
.main{
    border: 1.5px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 575px;
    background-color: white;
}
.div_sign_up{
    width: 100%;
    text-align: center;
    margin: 7px;
}
.div_sign_up_btn{
    height: 2.2rem;
    width: 275px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #66BCF2;
    border: 0;
    border-radius: 8px;
}
.logo{
    margin-top: 2rem;
    width: 180px;
    height: 51;
}
.under_logo_text_outer{
    margin: 0 2rem;
}
.under_logo_text{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 550;
    color:  gray;
    margin: 0.6rem 0;
}
.or{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.or_text{
    font-size: 14px;
    color: #A2A2A2;
    font-weight: 500;
    margin: 0 6px;
}
.line{
    height: 1px;
    width: 110px;
    background-color: #A2A2A2;
    border: 0.45em solid white;
}
.facebook_login_par{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.facebook_login{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.facebook_login_logo{
    margin-right: 7px;
}
.facebook_login_btn{
    height: 2.2rem;
    width: 275px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #0095F6;
    border: 0;
    border-radius: 8px;

}
.facebook_login_text{
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: 800;
}
.facebook_logo{
    color: white;
}
.form_div{
    display: flex;
    width: 100%;
}
.sign_up{
    margin: 14px 0;
    border: 1.5px solid #DBDBDB;
    text-align: center;
    background-color: white;
}
.sign_up_text{
    margin: 22px;
    font-weight: 350;
    font-size: 14px;
    font-weight: 40;
}
.sign_in_text_btn{
    margin-left: 0.5rem;
    text-decoration: none;
    color: #4AA9F8;
    font-weight: 600;
    border: 0;
    background-color: transparent;
}
.app_download{
    display: flex;
    flex-direction: column;
}
.app_download_text_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.app_download_text{
    margin: 7px 0;
    color: black;
    font-size: 14px;
}
.store{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.appstore_icon{
    width: 134px;
    height: 40px;
    margin-right: 10px;
}
.googleplay_icon{
    width: 134px;
    height: 40px;
}