.comment_icon_outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.7rem;
}
.comment_form{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.comment_writing{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0.5rem 0.6rem;
    border-top: 1px #DBDBDB solid;
}
.comment_input{
    border: 0;
    background-color: transparent;
    font-size: 0.8rem;
    flex-grow: 1;
}
.comment_upload_btn{
    border: 0;
    background-color: transparent;
    font-weight: 550;
    color: #0095F6;
}
.disable{
    opacity: 0.6;
    cursor: not-allowed;
}
.comment_upload_btn:hover{
    color: black;
    cursor: pointer;
}