.user_id{
    font-size: 0.9rem;
    font-weight: 600;
}
.main{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment_modal{
    width: 100%;
    border-radius: 12px;

}
.content{
    display: flex;
    flex-direction: row;
    max-width: calc(100vw - 128px);
    max-height: calc(100vh - 60px);
    margin: auto;
    
}
.image_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    flex-grow: 1;
    
}
.image_outer{
    max-height: 90%;
    max-width: 100%;
    aspect-ratio: 1/1;
}
.content_image{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}
.profile_and_comment_container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
}
.profile{
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px black solid;
}
.profile_image_outer{
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
}
.profile_image{
    width: 2rem;
    height: 2rem;
    border-radius: 70px;    
}
.profile_userid{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.profile_more_info_btn_outer{
    display: flex;
    align-items: center;
}
.content_conatiner{
    display: flex;
    flex-direction: column;
    padding-top: 1.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    flex-grow: 1;
}
.post_content{
    max-width: 100%;
    display: flex;
    flex-direction: row;
}
.post_content_post_content_id_and_content_outer{
    flex-grow: 1;
}
.post_content_profile_image_outer{
    margin-right: 1.2rem;
}

.post_content_user_id{
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: 0.3rem;
}
.post_content_content{
    font-size: 1rem;
    font-weight: 400;
}
.post_content_create_at{
    font-size: 0.7rem;
    color: #A3A3A3;
}
.post_content_profile_image{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 70px; 
}

.utils{
    display: flex;
    flex-direction: row;
    border-bottom: 1px black solid;
}
.likes_count{
    border-bottom: 1px black solid;
}
.create_at{
    border-bottom: 1px black solid;
}
.writing_comment{
    display: flex;
    flex-direction: row;
}
.writing_comment_input{
    border: 0;
    background-color: transparent;
}




.close_btn{
    position: absolute;
    background-color: transparent;
    border: 0;
    color: white;
    top: 8px;
    right: 22px;
    font-size: 20px;
}
