.main{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment_modal{
    width: 80%;
    height: 60%;
}
.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.image_container{

}
.image_outer{
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile_and_comment_container{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.profile{
    border-bottom: 1px black solid;
}
.comment{
    border-bottom: 1px black solid;
}
.utils{
    display: flex;
    flex-direction: row;
    border-bottom: 1px black solid;
}
.likes_count{
    border-bottom: 1px black solid;
}
.create_at{
    border-bottom: 1px black solid;
}
.writing_comment{
    display: flex;
    flex-direction: row;
}




.close_btn{
    position: absolute;
    background-color: transparent;
    border: 0;
    color: white;
    top: 8px;
    right: 22px;
    font-size: 20px;
}
