.friends_recommand{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
}
.friends_recommand_image_outer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0.7rem;
}
.friends_recommand_image{
    display: flex;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 70px;
}
.friends_id_and_name{
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    flex-grow: 1;
}
.friends_name{
    color: #C7C7C7;
}
.follow{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.follow_btn{
    font-size: 0.5rem;
    border: 0;
    background-color: transparent;
    color: #0095F6;
}