.side_bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border-right: 1px solid #DBDBDB;
    height: 100vh;
    position: fixed;
    width: 165px;
}
.side_bar_logo{
    padding: 18px 5px;
    margin-bottom: 4px;
}
.menus {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.menu{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 7px;
    padding: 9px;
    margin: 4px 0;
    transition:all 300ms;
}
.menu:hover{
    background-color: #FAFAFA;
}
.menu_icon{
    width: 1.4em;
    height: 1.4em;
}
.menu_text{
    padding-left: 16px;
    font-weight: 400;
    opacity: 1;
    transition: 500ms;
}


@media (max-width: 1265px) {
   .side_bar{
    width: 62px;
   }
   .menu_text{
    opacity: 0;
    display: none;
   }
}