.login_body{
    width: 22rem;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: cente;
}
.main{
    border: 1.5px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    background-color: white;
}
.input_outer{
    margin-bottom: 0.3rem;
}
.div_login{
    width: 100%;
    text-align: center;
    margin: 7px;
}
.div_login_btn{
    height: 32px;
    width: 275px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #66BCF2;
    border: 0;
    border-radius: 8px;
}
.or{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 25px;
}
.or_text{
    font-size: 14px;
    color: #A2A2A2;
    font-weight: 500;
    margin: 0 6px;
}
.line{
    height: 1px;
    width: 110px;
    background-color: #A2A2A2;
    border: 0.45em solid white;
}
.facebook_login_par{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.facebook_login{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.facebook_login_logo{
    margin-right: 7px;
}
.facebook_login_btn{
    display: flex;
    flex-direction: row;

    border: 0px;
    background-color: white;
}
.facebook_login_text{
    border: 0;
    background-color: white;
    color: #3E588C;
    font-size: 14px;
    font-weight: 800;
}
.facebook_logo{
    color: #3E588C;
}
.lose_password{
    margin-top: 15px;
}
.lose_password_text{
    color: black;
    text-decoration: none;
    font-size: 12px;
}
.form_div{
    display: flex;
    width: 100%;
}
.login_form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign_up{
    margin: 14px 0;
    border: 1.5px solid #DBDBDB;
    text-align: center;
    background-color: white;
}
.sign_up_text{
    margin: 22px;
    font-weight: 350;
    font-size: 14px;
    font-weight: 40;
}
.sign_up_text_btn{
    text-decoration: none;
    color: #4AA9F8;
    font-weight: 600;
    border: 0;
    background-color: transparent;
}
.logo{
    margin: 2rem 0;
    width: 175px;
    height: 51;
}
.app_download{
    display: flex;
    flex-direction: column;
}
.app_download_text_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.app_download_text{
    margin: 7px 0;
    color: black;
    font-size: 14px;
}
.store{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.appstore_icon{
    width: 134px;
    height: 40px;
    margin-right: 10px;
}
.googleplay_icon{
    width: 134px;
    height: 40px;
}