.main{
    width: 100%;
    max-width: 90%;
    max-height: 80%;
}
.posting_modal{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 999;
    border-radius: 12px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.new_post_text_outer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7rem 0;
    border-bottom: 1px rgb(219,219,219) solid;
}
.new_post_text{
    font-weight: 500;
}
.new_post_text_outer__share{
    color: #0095f6;
    font-size: 0.9rem;
    font-weight: 550;
    display: flex;
    align-items: center;
    padding-right: 0.9rem;
    cursor: pointer;
}
.new_post_text_outer__share:hover{
    color: black;
}
.preview_image_outer{
    
    position: relative;
    aspect-ratio: 1/1;
    flex-grow: 1;
    background-color: black;
}
.preview_image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
}
.icon_outer{
    text-align: center;
    padding-bottom: 1rem;
}
.file_input_btn{
    width: 120px;
    height: 32px;
    border-radius: 7px;
    border: 0;
    background-color: #0095f6;
    color: white;
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 550;
    cursor: pointer;
}
.file_select_btn{
    display: none;
}
.drag_drop_text{
    font-size: 1.25rem;
}
.container_outer{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-y: scroll;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.contents_container{
    width: 485px;
    border-left: 1px #C7C7C7 solid;
    min-width: 350px;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
}
.profile__image{
    width: 2rem;
    height: 2rem;
    border-radius: 1.2rem;
    border: 1px black solid;
    margin-right: 0.7rem;
}
.textarea_outer{
    padding: 0.5rem;
}
.textarea{
    font-size: 1rem;
    border: 0;
    padding: 0;
    width: 100%;
    height: 10rem;
}
.counter{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #C7C7C7 solid;
    color: #C7C7C7;
}
.smile_icon{
    fill: #C7C7C7;
}
.location_input{
    border: 0;
    font-size: 1rem;
}
.util{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px #C7C7C7 solid;
}
.icon{
    fill: black;
    transform: rotate( 180deg );
}
.location_icon{
    transform: rotate( 360deg );
}
